

  <section class="mt-4 rounded-2xl p-6">
  @if (stats().total === 0) {
    <p class="text-text">No todos yet, add one above</p>
  } @else if (todos().length === 0) {
    <p class="text-tetxt">
      @switch (filter()) {
        @case ('active')    { No active todos at the moment }
        @case ('completed') { No completed todos yet }
        @default            { No todos found }
      }
    </p>
  } @else {
    

    <ul role="list" class="space-y-2 max-h-80 overflow-auto text-muted pr-1">
      @for (todo of todos(); track todo.id) {
        <li
          class="group flex items-center justify-between gap-3 rounded-xl bg-panel1 p-3
                 transition-colors cursor-pointer hover:bg-panel1/70"
          [class.opacity-70]="todo.completed">

          <label class="flex flex-1 items-center gap-3">
            <input
              type="checkbox"
              class="appearance-none h-6 w-6 rounded-full border border-gray-300 cursor-pointer
                     checked:bg-emerald-500 checked:border-emerald-700
                     focus:outline-none focus:ring-1
                     transition-colors"
              [checked]="todo.completed"
              (change)="toggleTodo(todo.id)"
            />
            <input
              class="flex-1 rounded-md bg-transparent px-2 py-1 text-text ring-1 ring-transparent
                     focus:outline-none focus:ring-zinc-100"
              [value]="todo.title"
              [class.line-through]="todo.completed"
              [class.text-zinc-400]="todo.completed"
              (keyup.enter)="renameTodo(todo.id, $any($event.target).value)"
            />
          </label>

          <button
            class="rounded-md px-2 py-1 text-text transition hover:text-red-400"
            (click)="removeTodos(todo.id)">
            ✕
          </button>
        </li>
      }
    </ul>
  }
</section>